@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
  @apply text-gray-800;
}

/* Headings */

h1 {
  @apply text-4xl;
  @apply font-black;
}

h2 {
  @apply text-2xl;
  @apply font-black;
}

h3 {
  @apply text-xl;
  @apply font-black;
}

/* Inputs, Select, Buttons */

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

select option:first-child {
  @apply text-gray-500;
}

button,
input,
select {
  @apply shadow;
  @apply bg-white;
}

button:hover,
input:hover,
select:hover {
  @apply shadow-md;
}

button:active,
input:active,
select:active {
  @apply shadow;
}

.card {
  @apply shadow;
  @apply bg-white;
}
.card:hover {
  @apply shadow-md;
}
.card:active {
  @apply shadow;
}
