.navigationList {
  @apply flex;
  @apply text-xl;
}

.navigationList > li {
  @apply mx-4;
}

.navigationListMobile {
  @apply text-xl;
  @apply flex-col;
  @apply items-center;
  @apply shadow;
}

.navigationListMobile > li {
  @apply my-4;
}

.link {
  @apply text-center;
  @apply text-gray-400;
  @apply font-bold;
  @apply cursor-pointer;
  @apply border-b-4;
  @apply border-transparent;
}

.navigationLink.active,
.navigationLink:hover {
  @apply border-gray-800;
  @apply text-gray-800;
}

.navigationLinkMobile {
  @apply my-4;
}

.navigationLinkMobile.active,
.navigationLinkMobile:hover {
  @apply border-gray-50;
  @apply text-gray-50;
}
