.poster {
  @apply object-cover;
  --height: 7.25rem;
  height: var(--height);
  width: calc(var(--height) * (2 / 3));
}

@screen md {
  .poster {
    @apply object-cover;
    --height: 9rem;
    height: var(--height);
    width: calc(var(--height) * (2 / 3));
  }
}
